<div class="col-md-12">
    <form [formGroup]="movieForm"  (ngSubmit)="onSubmit()" id="movieForm">
        <div class="form-inline">
            <label for="title">Titulo:</label>
            <input type="text" formControlName="title" class="form-control" id="title">

            <label for="genre">Género:</label>
            <input type="text" formControlName="genre" class="form-control" id="genre">

            <label for="nationality">Nacionalidad:</label>
            <input type="text" formControlName="nationality" class="form-control" id="nationality">

            <label for="director">Director:</label>
            <input type="text" formControlName="director" class="form-control" id="director">

            <input type="submit"  class="btn btn-primary"   [disabled]="!movieForm.valid"  (click)="onSubmit()"value="Guardar">
        </div>
    </form>
</div>



